@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade";
body {
  margin: 0;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header #brand__title {
  margin: 0;
  font-size: 2.5em;
  color: black;
  font-family: 'Bungee Shade', cursive;
}

header .app__info__buttons {
  display: flex;
}

header .app__info__buttons button {
  color: #eee;
  height: 35px;
  width: 100px;
  border: 0;
  cursor: pointer;
  border-right: 1px solid gray;
  color: white;
  background-color: #545151;
}

header .app__info__buttons button:hover, header .app__info__buttons button:focus {
  background-color: #2d2b2b;
  outline: none;
}

.main_body {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_body .pomodoro_timer_buttons {
  display: flex;
}

.main_body .pomodoro_timer_buttons button {
  height: 30px;
  width: 250px;
  border: 0;
  cursor: pointer;
  border-right: 1px solid slategray;
  color: white;
  background-color: #22a6d2;
  font-weight: bold;
}

.main_body .pomodoro_timer_buttons button:hover, .main_body .pomodoro_timer_buttons button:focus {
  background-color: #177290;
  outline: none;
}

.main_body #myCanvas {
  padding-top: 20px;
}

.main_body .user_action_buttons {
  padding-top: 20px;
}

.main_body .user_action_buttons button {
  height: 55px;
  width: 100px;
  border: 0;
  cursor: pointer;
  border-right: 1px solid ;
  color: white;
  background-color: gray;
  font-weight: bold;
  margin: 20px;
  border-radius: 5px;
}

.main_body .user_action_buttons button:hover, .main_body .user_action_buttons button:focus {
  background-color: #5a5a5a;
  outline: none;
}

.main_body .user_action_buttons #startButton {
  background-color: #2ea92e;
}

.main_body .user_action_buttons #startButton:hover, .main_body .user_action_buttons #startButton:focus {
  background-color: #1e6d1e;
  outline: none;
}

.main_body .user_action_buttons #stopButton {
  background-color: red;
}

.main_body .user_action_buttons #stopButton:hover, .main_body .user_action_buttons #stopButton:focus {
  background-color: #b30000;
  outline: none;
}

.shortcuts_notifications_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.shortcuts_notifications_container .keyboard_shortcuts {
  height: 200px;
  width: 380px;
  background-color: #eee;
  padding: 8px;
}

.shortcuts_notifications_container .keyboard_shortcuts #keyboard__shortcuts__heading {
  font-size: 1.2em;
  font-weight: bold;
}

.shortcuts_notifications_container .keyboard_shortcuts .shortcuts-list {
  padding: 15px;
}

.shortcuts_notifications_container .keyboard_shortcuts .shortcuts-list ul {
  padding: 5px;
}

.shortcuts_notifications_container .desktop_notifications {
  height: 200px;
  width: 380px;
  background-color: #eee;
  padding: 8px;
}

.shortcuts_notifications_container .desktop_notifications #desktop__notifications__heading {
  font-size: 1.2em;
  font-weight: bold;
}

.shortcuts_notifications_container .desktop_notifications .notifications__content {
  padding: 10px;
}

.shortcuts_notifications_container .desktop_notifications .notifications__content div {
  padding: 5px;
}

.shortcuts_notifications_container .desktop_notifications .notifications__content button {
  margin-top: 10px;
  background-color: #22a6d2;
  color: white;
}

#resetTimerModal {
  padding-top: 10%;
}

#resetTimerModal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#resetTimerModal .modal-body div {
  padding: 10px;
  font-size: 1.3em;
}

#resetTimerModal .modal-body div span:nth-child(2n) {
  cursor: pointer;
}

#settingsModal .modal-body select {
  width: 100%;
}

#settingsModal .modal-body button {
  margin: 5px;
}

#settingsModal .modal-body button:hover {
  background-color: #d4d4d4;
}

#disclaimerModal {
  padding-top: 10%;
}

@media (max-width: 810px) {
  header #brand__title {
    font-size: 2em;
  }
  header .app__info__buttons button {
    width: 85px;
  }
  .main_body .pomodoro_timer_buttons button {
    width: 220px;
  }
  .shortcuts_notifications_container .keyboard_shortcuts {
    width: 360px;
  }
  .shortcuts_notifications_container .desktop_notifications {
    width: 360px;
  }
}

@media (max-width: 763px) {
  header {
    flex-direction: column;
    height: 150px;
  }
  header #brand__title {
    font-size: 3em;
  }
  header .app__info__buttons {
    padding-bottom: 10px;
  }
  header .app__info__buttons button {
    width: 150px;
  }
  .main_body {
    padding-top: 25px;
  }
  .shortcuts_notifications_container .keyboard_shortcuts {
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .main_body .pomodoro_timer_buttons button {
    width: 190px;
  }
  .shortcuts_notifications_container .keyboard_shortcuts {
    width: 320px;
    margin-right: 20px;
  }
  .shortcuts_notifications_container .desktop_notifications {
    width: 320px;
  }
}

@media (max-width: 600px) {
  header {
    height: 230px;
  }
  header #brand__title {
    font-size: 250%;
  }
  header .app__info__buttons {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  header .app__info__buttons button {
    width: 90%;
    text-align: justify;
    padding-left: 25px;
    border-bottom: 1px solid black;
  }
  .main_body .pomodoro_timer_buttons button {
    width: 30vw;
  }
  .main_body #myCanvas {
    padding-top: 35px;
  }
  .main_body .user_action_buttons button {
    margin: 10px;
    width: 80px;
  }
  .shortcuts_notifications_container {
    padding-top: 20px;
    flex-direction: column;
  }
  .shortcuts_notifications_container .keyboard_shortcuts {
    width: 80vw;
    margin: 0;
    margin-bottom: 20px;
  }
  .shortcuts_notifications_container .desktop_notifications {
    width: 80vw;
  }
  .shortcuts_notifications_container .desktop_notifications .notifications__content button {
    margin-top: 15px;
  }
}

@media (max-width: 410px) {
  header #brand__title {
    font-size: 200%;
  }
}
