@mixin flex($align-items,$justify-content){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin buttonStyles($height,$width,$bgColor,$border-color:""){
    height:$height;
    width: $width;
    border: 0;
    cursor:pointer;
    border-right:1px solid unquote($border-color);
    color: white;
    background-color: $bgColor;
    &:hover,&:focus{
        background-color: darken($bgColor, 10%);
        outline: none;       
    }
}