@import "variables";
@import "mixins";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade";

body{
    margin: 0;
    height: 100%;
}

header{
    width:100%;
    height:$header-height;
    background-color:$header-bgColor;
    @include flex(center,space-around);

    #brand__title{
        margin: 0;
        font-size:$brand-title-size;
        color: $brand-title-color;
        font-family: 'Bungee Shade', cursive;    
    }

    .app__info__buttons{
        display: flex;  
        button 
        {
            @include buttonStyles(35px,100px,$header-buttons-borderColor,$header-buttons-color);       
        }  
    }
}

.main_body{
    padding-top: 20px;
    @include flex(flex-start,center);

    
    .pomodoro_timer_buttons{
        display: flex;
        button{
            @include buttonStyles(30px,200px,$timer-buttons-borderColor,$timer-buttons-color);
            font-weight: bold;       
        }    
    } 
}





