@import "variables";
@import "mixins";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade";
body {
    margin: 0;
    height: 100%;
}

header {
    width: 100%;
    height: $header-height;
    background-color: $header-bgColor;
    @include flex(center, space-around);
    #brand__title {
        margin: 0;
        font-size: $brand-title-size;
        color: $brand-title-color;
        font-family: 'Bungee Shade', cursive;
    }
    .app__info__buttons {
        display: flex;
        button {
            @include buttonStyles(35px, 100px, $header-buttons-color, $header-buttons-borderColor);
        }
    }
}

.main_body {
    padding-top: 20px;
    @include flex(center, center);
    flex-direction: column;
    .pomodoro_timer_buttons {
        display: flex;
        button {
            @include buttonStyles(30px, 250px, $timer-buttons-color, $timer-buttons-borderColor);
            font-weight: bold;
        }
    }
    #myCanvas {
        padding-top: 20px;
    }
    .user_action_buttons {
        padding-top: 20px;
        button {
            @include buttonStyles(55px, 100px, gray);
            font-weight: bold;
            margin: 20px;
            border-radius: 5px;    
        }
        #startButton {
            background-color: $start-button-color;
            &:hover,
            &:focus {
                background-color: darken($start-button-color, 15%);
                outline: none;
            }
        }
        #stopButton {
            background-color: red;
            &:hover,
            &:focus {
                background-color: darken(red, 15%);
                outline: none;
            }
        }
    }    
}

.shortcuts_notifications_container{
    @include flex(center,space-around);
    padding-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    .keyboard_shortcuts{
        @include shortcutNotificationsContainerStyles();
        #keyboard__shortcuts__heading{
            font-size: 1.2em;
            font-weight: bold;
        }
        .shortcuts-list{
            padding: 15px;
            ul{
                padding: 5px;
            }
        }
    }
    .desktop_notifications{
        @include shortcutNotificationsContainerStyles();
        #desktop__notifications__heading{
            font-size: 1.2em;
            font-weight: bold;
        }
        .notifications__content{
            padding: 10px;
            div{
                padding: 5px;
            }
            button{
                margin-top: 10px;
                background-color: $enable-desktop-button-color;
                color: white;
            }
        }
    }
}

// Modal Styles
#resetTimerModal {
    padding-top: 10%;
    
    .modal-body {
        @include flex(center, center);
        flex-direction: column;
        div {
            padding: 10px;
            font-size: 1.3em;
            span:nth-child(2n) {
                cursor: pointer;
            }
        }
    }
}

