@import "variables";
@import "mixins";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade";

body{
    margin: 0;
    padding: 0;
}

header{
    width:100%;
    height:$header-height;
    background-color:#eee;
    @include flex(center,space-around);
}

button{
    height:35px;
    min-width: 100px;
    border: 0;
    cursor:pointer;
    border-right:1px solid grey;
    color: white;
    background-color: $header-buttons-color;
}

.brand__title{
    margin: 0;
    font-size:2.5em;
    font-family: 'Bungee Shade', cursive;    
}

.app__info__buttons{
    display: flex;    
}


