$header-bgColor:#eee;
$header-height:100px;
$header-buttons-color:#545151;
$header-buttons-borderColor:gray;

$brand-title-size:2.5em;
$brand-title-color:black;

$timer-buttons-color:#22a6d2;
$timer-buttons-borderColor:slategray;

$start-button-color:#2ea92e;

$shortcuts-notifications-container-color:#eee;
$shortcuts-notifications-container-height:200px;
$shortcuts-notifications-container-width:400px;

