$header-bgColor:#eee;
$header-height:100px;
$header-buttons-color:#545151;
$header-buttons-borderColor:gray;

$brand-title-size:2.5em;
$brand-title-color:black;

$timer-buttons-color:#22a6d2;
$timer-buttons-borderColor:slategray;

$start-button-color:#2ea92e;

$shortcuts-notifications-container-color:#eee;
$shortcuts-notifications-container-height:200px;
$shortcuts-notifications-container-width:380px;

$enable-desktop-button-color:#22a6d2;

// Variables used for media queries

//Breakpoint width 810px
$bp1-brand-title-size:2em;
$bp1-app-info-buttons-width:85px;
$bp1-timer-buttons-width:220px;
$bp1-shortcuts-notifications-container-width:360px;

//Breakpoint width 763px
$bp2-header-height: 150px;
$bp2-brand-title-size:3em;
$bp2-app-info-buttons-width:150px;

//Breakpoint width 700px
$bp3-timer-buttons-width:190px;
$bp3-shortcuts-notifications-container-width:320px;

//Breakpoint width 600px
$bp4-header-height:230px;
$bp4-brand-title-size: 250%;
